Repository Terasology/MetalRenegades, pull requests merged in 2021-06, with the labels that each got.

#127 chore: Avoid some component constructor code smells
  src/main/java/org/terasology/metalrenegades/ai/actions/AddSocialComponentAction.java
  src/main/java/org/terasology/metalrenegades/ai/component/FactionAlignmentComponent.java
  src/main/java/org/terasology/metalrenegades/ai/component/SimpleSourceComponent.java
  src/main/java/org/terasology/metalrenegades/ai/system/FactionAlignmentSystem.java
  src/main/java/org/terasology/metalrenegades/interaction/component/CityCropComponent.java
  src/main/java/org/terasology/metalrenegades/interaction/systems/FarmManagementSystem.java
  src/main/java/org/terasology/metalrenegades/world/dynamic/discoverables/DiscoverableChestComponent.java
Labels: Topic: Stabilization, Type: Chore

#145 feat: Rivers
  src/main/java/org/terasology/metalrenegades/world/BaseFlatSurfaceProvider.java
  src/main/java/org/terasology/metalrenegades/world/BaseFlatWorldGenerator.java
  src/main/java/org/terasology/metalrenegades/world/BaseFlatWorldRasterizer.java
  src/main/java/org/terasology/metalrenegades/world/SimplexHillsAndMountainsProvider.java
  src/main/java/org/terasology/metalrenegades/world/dynamic/DynamicWorldGenerator.java
  src/main/java/org/terasology/metalrenegades/world/rivers/RiverFacet.java
  src/main/java/org/terasology/metalrenegades/world/rivers/RiverProvider.java
  src/main/java/org/terasology/metalrenegades/world/rivers/RiverToElevationProvider.java
Labels: Topic: WorldGen, Type: Improvement

#146 doc: migrate wiki content to docsify page
  README.md
  docs/README.md
  docs/_media/citizens.png
  docs/_media/city-with-map.png
  docs/_media/city.png
  docs/_media/hunting.gif
  docs/_media/quest-end.png
  docs/_media/rail-rasterizer.png
  docs/_media/ui-sell.png
  docs/_media/ui-trade.gif
  docs/_sidebar.md
  docs/dev/combat-systems.md
  docs/dev/economic-systems.md
  docs/dev/quests.md
  docs/dev/world-generation.md
  docs/index.html
  docs/player/ai.md
  docs/player/combat.md
  docs/player/quests.md
  docs/player/trade-and-markets.md
  docs/player/world.md
  module.txt
Labels: Category: Doc

#147 feat: variable steepness of river banks
  src/main/java/org/terasology/metalrenegades/world/rivers/RiverProvider.java
  src/main/java/org/terasology/metalrenegades/world/rivers/RiverToElevationProvider.java
Labels: Topic: WorldGen, Type: Improvement

#148 fix: animation reference for the enemyGooey prefab
  assets/prefabs/characters/enemyGooey.prefab
Labels: Type: Bug

#149 feat: basic biomes
  module.txt
  src/main/java/org/terasology/metalrenegades/world/SimplexHillsAndMountainsProvider.java
  src/main/java/org/terasology/metalrenegades/world/dynamic/BaseBiomeProvider.java
  src/main/java/org/terasology/metalrenegades/world/dynamic/DynamicWorldGenerator.java
  src/main/java/org/terasology/metalrenegades/world/dynamic/FloraProvider.java
  src/main/java/org/terasology/metalrenegades/world/dynamic/MRBiome.java
  src/main/java/org/terasology/metalrenegades/world/dynamic/MRBiomes.java
  src/main/java/org/terasology/metalrenegades/world/rivers/RiverToElevationProvider.java
Labels: Topic: WorldGen, Type: Improvement
